.container {
    margin: 0 auto;
    max-width: 800px;
}
.container img {
    width: 300px;
    text-transform: uppercase;
    transition: 0.3s ease; 
    padding: 50px;
}
.container img:hover {
    transform: scale(1.5);
}